.navbar-wrapper {
  margin-bottom: .5rem;
}

.navbar {
  padding-bottom: 0;

  .navbar-brand {
    display: inline-block;
    padding-top: .3rem;
    width: 8rem;
  }

  .nav-link {
    letter-spacing: .1em;
    text-transform: uppercase;
  }
}
