<div class="brand-bar-wrapper">
  <div class="container">
    <div class="row">
      <div class="brand-bar col-xs-12">
        <div class="top-link university">
          <a href="<%= t('curate.institution_homepage_url') %>">University <i>of</i> Notre Dame</a>
        </div>
        <div class="top-link division">
          <a href="<%= t('curate.division_homepage_url') %>">Hesburgh Libraries</a>
        </div>
      </div>
    </div>
  </div>
</div>
